.DS_Store
build
Testing
Makefile
install_manifest.txt
compile_commands.json
_deps

# binaries
*.a
cli

# cmake
cmake_install.cmake
CTestTestfile.cmake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
cmake-build-debug
DigitalStageConfig*
DigitalStageTargets.cmake



